@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: rgb(255, 255, 255, 1);
}
body{
	height: 2776px;
	width: 1440px;
	background-image: url('TheMachine Images/Background color.png');
	background-repeat: no-repeat;
	background-size: cover;
}
/*.glass{
	height: 2776px;
	width: 1400px;
	margin-left: 10px;
	left: 40px;
	top: 40px; 
	border: #FFFFFF63 solid 2px;
	box-shadow: 6px 7px 5px #00000075;
}*/
.navbar{
	position: absolute;
	height: 91px;
	width: 1078px;
	left: 83px;
	top: 46px;
	border-radius: 0px;
}
.logo img{
	position: absolute;
	height: 57.599998474121094px;
	width: 100px;
	left: 12px;
	top: 31px;
	border-radius: 0px;
}
.HOME{
	position: absolute;
	height: 34px;
	width: 93.95413208007812px;
	left: 195.8201904296875px;
	top: 43px;
	border-radius: nullpx;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.ARTIST{
	position: absolute;
	height: 34px;
	width: 101.97296142578125px;
	left: 316.601806640625px;
	top: 43px;
	border-radius: nullpx;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.ABOUTUS{
	position: absolute;
	height: 34px;
	width: 136.93508911132812px;
	left: 458.3927917480469px;
	top: 43px;
	border-radius: nullpx;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.search-bar{
	position: absolute;
	height: 34px;
	width: 170.92608642578125px;
	left: 631.2612915039062px;
	top: 45px;
	border-radius: 45px;
	border: 3px solid #FFFFFF;	
}
.search-icon{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 132px;
	top: 0px;
	border-radius: 0px;
}
.bi-search{
	position: absolute;
	height: 24.649246215820312px;
	width: 21.826387405395508px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.rec{
	position: absolute;
	height: 41px;
	width: 115.56939697265625px;
	left: 831.322509765625px;
	top: 38px;
	border-radius: 10px;
	background: #7E81D1;
}
.SignUP{
	position: absolute;
	height: 39px;
	width: 102.9442138671875px;
	left: 12px;
	top: 0px;
	border-radius: nullpx;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.rec2{
	position: absolute;
	height: 41px;
	width: 115.56927490234375px;
	left: 976.0270385742188px;
	top: 38px;
	border-radius: 10px;
	background: #6484B4;
}
.SignIn{
	position: absolute;
	height: 34px;
	width: 94.94293212890625px;
	left: 15px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.headline{
	position: absolute;
	height: 89px;
	width: 1277px;
	left: 95px;
	top: 208px;
	border-radius: 0px;
	
}
.headline-1{
	position: absolute;
	height: 158.4199981689453px;
	width: 1277px;
	left: 0px;
	top: 0px;
	border-radius: nullpx;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 54px;
	letter-spacing: 0em;
	text-align: left;
}
.detail-bar{
	position: absolute;
	height: 59px;
	width: 1269px;
	left: 86px;
	top: 373px;
	border-radius: 45px;
	box-shadow: 0px 4px 4px 0px #000000;
}
.stats{
	position: absolute;
	height: 40px;
	width: 228px;
	left: 508px;
	top: 10px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: center;
}
.date{
	position: absolute;
	height: 32px;
	width: 234px;
	left: 18px;
	top: 12px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px #00000040;
}
.titles{
	position: absolute;
	height: 23px;
	width: 160px;
	left: 25px;
	top: 5px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
}
.bi-chevron-down{
	position: absolute;
	height: 7.5px;
	width: 13.5px;
	left: 156.25px;
	top: 11.25px;
	border-radius: 0px;
}
.share{
	position: absolute;
	height: 30px;
	width: 112px;
	left: 945px;
	top: 14px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px #000000E5;
}
.bi-share{
	position: absolute;
	height: 21.49996566772461px;
	width: 19.5px;
	left: 75.25px;
	top: 4.25px;
	border-radius: 0px;
}
.download{
	position: absolute;
	height: 30px;
	width: 148px;
	left: 1089px;
	top: 14px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px #000000E5;
}
.bi-download{
	position: absolute;
	height: 19.497575759887695px;
	width: 23.502033233642578px;
	left: 111.24462890625px;
	top: 5.25244140625px;
	border-radius: 0px;
}
.option{
	position: absolute;
	height: 564px;
	width: 648px;
	left: 85px;
	top: 486px;
	border-radius: 0px;
}
.option-2{
	position: absolute;
	height: 564px;
	width: 648px;
	left: 0px;
	top: 0px;
	border-radius: 59px;
	box-shadow: 0px 4px 4px 0px #000000;
}
.text{
	position: absolute;
	height: 34px;
	width: 136px;
	left: 40px;
	top: 21px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.icons{
	position: absolute;
	height: 24px;
	width: 92px;
	left: 535px;
	top: 33px;
	border-radius: 0px;
}
.share-2{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.bi-share-2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.download-2{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 33px;
	top: 0px;
	border-radius: 0px;
}
.bi-download-2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.settings-2{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 68px;
	top: 0px;
	border-radius: 0px;
}
.bi-gear-2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.line{
	position: absolute;
	height: 0px;
	width: 602.003303289314px;
	left: 23px;
	top: 67px;
	border-radius: 0px;
}
.news{
	position: absolute;
	height: 564px;
	width: 603px;
	left: 745px;
	top: 487px;
	border-radius: 0px;
}
.news-2{
	position: absolute;
	height: 564px;
	width: 603px;
	left: 0px;
	top: 0px;
	border-radius: 59px;
	box-shadow: 0px 4px 4px 0px #000000;
}
.news-text{
	position: absolute;
	height: 34px;
	width: 90px;
	left: 20px;
	top: 20px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.news-icons{
	position: absolute;
	height: 24px;
	width: 92px;
	left: 480px;
	top: 28px;
	border-radius: 0px;
}
.share-3{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.bi-share-3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.download-3{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 37px;
	top: 0px;
	border-radius: 0px;
}
.bi-download-3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.settings-3{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 69px;
	top: 0px;
	border-radius: 0px;
}
.bi-gear-3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.news-line{
	position: absolute;
	height: 0px;
	width: 551.003303289314px;
	left: 26px;
	top: 66px;
	border-radius: 0px;
}
.chart{
	position: absolute;
	height: 563px;
	width: 1270px;
	left: 85px;
	top: 1065px;
	border-radius: 0px;
}
.chart-2{
	position: absolute;
	height: 563px;
	width: 1270px;
	left: 0px;
	top: 0px;
	border-radius: 59px;
	box-shadow: 0px 4px 4px 0px #000000;
}
.chart-text{
	position: absolute;
	height: 28px;
	width: 114px;
	left: 46px;
	top: 37px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.chart-icons{
	position: absolute;
	height: 24px;
	width: 92px;
	left: 1107px;
	top: 52px;
	border-radius: 0px;
}
.share-4{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.bi-share-4{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.download-4{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 33px;
	top: 0px;
	border-radius: 0px;
}
.bi-download-4{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.settings-4{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 68px;
	top: 0px;
	border-radius: 0px;
}
.bi-gear-4{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.chart-line{
	position: absolute;
	height: 0px;
	width: 1169.003303289314px;
	left: 46px;
	top: 89.73px;
	border-radius: 0px;
}
.commercial{
	position: absolute;
	height: 414px;
	width: 400px;
	left: 82px;
	top: 1650px;
	border-radius: 0px;
}
.commercial-2{
	position: absolute;
	height: 414px;
	width: 400px;
	left: 0px;
	top: 0px;
	border-radius: 59px;
	box-shadow: 0px 4px 4px 0px #000000;
}
.commercial-text{
	position: absolute;
	height: 33px;
	width: 120px;
	left: 30px;
	top: 10px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.commercial-icons{
	position: absolute;
	height: 24px;
	width: 92px;
	left: 277px;
	top: 21px;
	border-radius: 0px;
}
.share-5{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.bi-share-5{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.download-5{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 33px;
	top: 0px;
	border-radius: 0px;
}
.bi-download-5{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.settings-5{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 68px;
	top: 0px;
	border-radius: 0px;
}
.bi-gear-5{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.commercial-vector{
	position: absolute;
	height: 291px;
	width: 11px;
	left: 370px;
	top: 75px;
	border-radius: 10px;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 90px 0px #000000;
	background: #FFFFFF;	
}
.commercial-line{
	position: absolute;
	height: 0px;
	width: 344px;
	left: 28px;
	top: 51px;
	border-radius: 0px;
}
.audience{
	position: absolute;
	height: 414px;
	width: 400px;
	left: 517px;
	top: 1650px;
	border-radius: 0px;
}
.audience-2{
	position: absolute;
	height: 414px;
	width: 400px;
	left: 0px;
	top: 0px;
	border-radius: 59px;
	box-shadow: 0px 4px 4px 0px #000000;
}
.audience-text{
	position: absolute;
	height: 33px;
	width: 120px;
	left: 27px;
	top: 10px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.audience-icons{
	position: absolute;
	height: 24px;
	width: 92px;
	left: 281px;
	top: 19px;
	border-radius: 0px;
}
.share-6{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.bi-share-6{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.download-6{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 33px;
	top: 0px;
	border-radius: 0px;
}
.bi-download-6{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.settings-6{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 68px;
	top: 0px;
	border-radius: 0px;
}
.bi-gear-6{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.audience-vector{
	position: absolute;
	height: 291px;
	width: 11px;
	left: 375px;
	top: 65px;
	border-radius: 10px;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 90px 0px #000000;
	background: #FFFFFF;	
}
.audience-line{
	position: absolute;
	height: 0px;
	width: 344px;
	left: 31px;
	top: 50px;
	border-radius: 0px;
}
.market{
	position: absolute;
	height: 414px;
	width: 400px;
	left: 952px;
	top: 1650px;
	border-radius: 0px;
}
.market-2{
	position: absolute;
	height: 414px;
	width: 400px;
	left: 0px;
	top: 0px;
	border-radius: 59px;
	box-shadow: 0px 4px 4px 0px #000000;
}
.market-text{
	position: absolute;
	height: 33px;
	width: 120px;
	left: 31px;
	top: 10px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.market-icons{
	position: absolute;
	height: 24px;
	width: 92px;
	left: 278px;
	top: 20px;
	border-radius: 0px;
}
.share-7{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.bi-share-7{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.download-7{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 33px;
	top: 0px;
	border-radius: 0px;
}
.bi-download-7{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.settings-7{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 68px;
	top: 0px;
	border-radius: 0px;
}
.bi-gear-7{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.market-vector{
	position: absolute;
	height: 291px;
	width: 11px;
	left: 375px;
	top: 65px;
	border-radius: 10px;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 90px 0px #000000;
	background: #FFFFFF;	
}
.market-line{
	position: absolute;
	height: 0px;
	width: 344px;
	left: 31px;
	top: 50px;
	border-radius: 0px;
}
.footer{
	position: absolute;
	height: 595px;
	width: 1440px;
	left: 0px;
	top: 2130px;
	border-radius: 0px;
}
.footer-2{
	position: absolute;
	height: 627px;
	width: 1440px;
	left: 0px;
	top: -128px;
	border-radius: 0px;
}
.newsletter{
	position: absolute;
	height: 200px;
	width: 1074px;
	left: 183px;
	top: 109px;
	border-radius: 10px;
	background: #0A142F;
}
.newsletter2{
	position: absolute;
	height: 72px;
	width: 868px;
	left: 286px;
	top: 173px;
	border-radius: 0px;
}
.font-box{
	position: absolute;
	height: 72px;
	width: 868px;
	left: 103px;
	top: 64px;
	border-radius: 0px;
	
}
.newsletter-text{
	position: absolute;
	height: 43px;
	width: 318px;
	left: 0px;
	top: 14px;
	border-radius: 0px;
	font-family: Playfair Display;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.email-box{
	position: absolute;
	height: 72px;
	width: 510px;
	left: 358px;
	top: 0px;
	border-radius: 0px;
	background: white;
}
.subscribe{
	position: absolute;
	height: 56px;
	width: 180px;
	left: 322px;
	top: 8px;
	border-radius: 0px;
	background: #0081FE;
}
.subscribe-text{
	position: absolute;
	height: 24px;
	width: 111px;
	left: 35px;
	top: 19px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: center;
	/* background: #FFFFFF; */
}
.email{
	color:rgba(43.00000123679638, 61.00000016391277, 81.00000277161598, 1);
	opacity:0.5;	
	position: absolute;
	height: 24px;
	width: 130px;
	left: 24px;
	top: 21px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
}
.group{
	position: absolute;
	height: 142px;
	width: 1090px;
	left: 183px;
	top: 357px;
	border-radius: 0px;
}
.socials{
	position: absolute;
	height: 24px;
	width: 165px;
	left: 911px;
	top: 0px;
	border-radius: 0px;
}
.facebook{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 0px;
}
.facebook img{
	height: 24px;
	width: 24px;
}
.twitter{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 42px;
}
.twitter img{
	height: 20px;
	width: 21px;
}
.youtube{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 87px;
}
.youtube img{
	height: 26px;
	width: 24px;
}
.instagram{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 130px;
}
.instagram img{
	height: 24px;
	width: 24px;
}
.links{
	position: absolute;
	height: 18px;
	width: 360px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.team{
	position: absolute;
	height: 24px;
	width: 71px;
	left: 422px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.contact{
	position: absolute;
	height: 24px;
	width: 66px;
	left: 288px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.about-us{
	/* position: absolute; */
	height: 24px;
	width: 71px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.our-products{
	position: absolute;
	height: 24px;
	width: 104px;
	left: 145px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.group-line{
	position: absolute;
	height: 1px;
	width: 1073px;
	left: 0px;
	top: 51px;
	border-radius: 0px;
	background: #0A142F;
	border: 1px solid #2B3D51;
}
.terms{
	position: absolute;
	height: 21px;
	width: 130px;
	left: 846px;
	top: 97px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.privacy{
	position: absolute;
	height: 21px;
	width: 110px;
	left: 989px;
	top: 97px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.rights{
	position: absolute;
	height: 21px;
	width: 328px;
	left: 0px;
	top: 95px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.company-logo{
	position: absolute;
	height: 199px;
	width: 282px;
	left: 632px;
	top: 444px;
	border-radius: 0px;
	/*background: url('About us images/rectangle_48.png');*/
}
.company-logo img{
	position: absolute;
	height: 199px;
	width: 282px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	/*background: url('About us images/rectangle_48.png');*/	
}
@media screen and (max-width:360px) {
	
}
@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 1024px) {

}
/*GOOGLE CHARTS*/
.option-chart{
	position: absolute;
	width: auto;
	height: 495px;
	left: 0px;
	top: 66px;
	border-radius: 59px;
}
#myChart{
	position: relative;
	border-radius: 59px;
}