*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color:rgb(255, 255, 255, 1);
}
body{
	width:1440px;
	height: 1690px;
	background-image: url('TheMachine Images/Background color.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar{
	position: absolute;
	height: 91px;
	width: 1094px;
	left: 135px;
	top: 38px;
	border-radius: 0px;
}
.HOME{
	position: absolute;
	height: 34px;
	width: 93.95413208007812px;
	left: 195.8201904296875px;
	top: 43px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.ARTIST{
	position: absolute;
	height: 34px;
	width: 101.97296142578125px;
	left: 316.601806640625px;
	top: 43px;
	border-radius: nullpx;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.ABOUTUS{
	position: absolute;
	height: 34px;
	width: 136.93508911132812px;
	left: 458.3927917480469px;
	top: 43px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.search-bar{
	position: absolute;
	height: 34px;
	width: 170.92608642578125px;
	left: 631.2612915039062px;
	top: 45px;
	border-radius: 45px;
	border: 3px solid #FFFFFF;
}
.search-icon{
	position: absolute;
	height: 19px;
	width: 24px;
	left: 137px;
	top: 4px;
	border-radius: 0px;
}
.bi-search{
	position: absolute;
	height: 19px;
	width: 24px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.logo img{
	position: absolute;
	height: 57.599998474121094px;
	width: 100px;
	left: 12px;
	top: 31px;
	border-radius: 0px;
}
.rec{
	position: absolute;
	height: 41px;
	width: 115.56927490234375px;
	left: 976.0270385742188px;
	top: 38px;
	border-radius: 10px;
	background: #6484B4;
}
.SignIn{
	position: absolute;
	height: 34px;
	width: 94.94293212890625px;
	left: 12px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.rec2{
	position: absolute;
	height: 41px;
	width: 115.56939697265625px;
	left: 831.322509765625px;
	top: 38px;
	border-radius: 10px;
	background: #7E81D1;
}
.SignUP{
	position: absolute;
	height: 39px;
	width: 102.9442138671875px;
	left: 7px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.glass{
	position: absolute;
	height: 788px;
	width: 1290px;
	left: 75px;
	top: 170px;
	border-radius: 59px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.genre-1{
	position: absolute;
	height: 36px;
	width: 106px;
	left: 80px;
	top: 52px;
	border-radius: 0px;
}
.artist-glass{
	position: absolute;
	height: 36px;
	width: 106px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.artist-cards{
	position: absolute;
	height: 133px;
	width: 112px;
	left: 80px;
	top: 112px;
	border-radius: 0px;
}
.artist-card-1{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 0px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-card-2{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 125.23px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-card-3{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 250.46px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-card-4{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 375.68px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-card-5{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 500.91px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-card-6{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 626.14px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-card-7{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 751.37px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-card-8{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 876.59px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-card-9{
	position: absolute;
	height: 133px;
	width: 114.17822265625px;
	left: 1001.82px;
	top: 0px;
	border-radius: 10px;
	/* background: #FFFFFF6B; */
	/* border: 1px solid #FFFFFF; */
	box-shadow: 0px 4px 110px 0px #000000E5;
}
.artist-name{
	position: absolute;
	left: 6px;
	top: 140px;
}
.genre-2{
	position: absolute;
	height: 33px;
	width: 112px;
	left: 80px;
	top: 282px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.artist-cards-2{
	position: absolute;
	height: 133px;
	width: 1116px;
	left: 80px;
	top: 339px;
	border-radius: 0px;
	/* border: 1px solid #7E81D1; */
	/* box-shadow: 0px 4px 110px 0px #000000E5; */
}
.genre-3{
	position: absolute;
	height: 33px;
	width: 112px;
	left: 80px;
	top: 509px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
}
.artist-cards-3{
	position: absolute;
	height: 133px;
	width: 1116px;
	left: 80px;
	top: 566px;
	border-radius: 0px;
	/* border: 1px solid #7E81D1; */
}
.pagination{
	position: absolute;
	height: 41px;
	width: 106px;
	left: 667px;
	top: 985px;
	border-radius: 0px;
}
.left-arrow-chevron{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 0px;
	top: 5px;
	border-radius: 0px;
}
.bi-chevron-double-left{
	position: absolute;
	width: 12px;
	height: 17px;
	left: 0px;
	top: 0px;
}
.one{
	position: absolute;
	height: 41px;
	width: 11px;
	left: 47px;
	top: -3px;
	border-radius: 0px;
	font-size: x-large;
}
.right-arrow-chevron{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 82px;
	top: 5px;
	border-radius: 0px;
}
.bi-chevron-double-right{
	position: absolute;
	width: 12px;
	height: 17px;
	left: 0px;
	top: 0px;
}
.footer{
	position: absolute;
	height: 595px;
	width: 1440px;
	left: 2px;
	top: 1024px;
	border-radius: 0px;
}
.footer-2{
	position: absolute;
	height: 627px;
	width: 1440px;
	left: 0px;
	top: -128px;
	border-radius: 0px;
}
.newsletter{
	position: absolute;
	height: 200px;
	width: 1074px;
	left: 183px;
	top: 109px;
	border-radius: 10px;
	background: #0A142F;
}
.newsletter2{
	position: absolute;
	height: 72px;
	width: 868px;
	left: 286px;
	top: 173px;
	border-radius: 0px;
}
.font-box{
	position: absolute;
	height: 72px;
	width: 868px;
	left: 103px;
	top: 64px;
	border-radius: 0px;
	
}
.newsletter-text{
	position: absolute;
	height: 43px;
	width: 318px;
	left: 0px;
	top: 14px;
	border-radius: 0px;
	font-family: Playfair Display;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.email-box{
	position: absolute;
	height: 72px;
	width: 510px;
	left: 358px;
	top: 0px;
	border-radius: 0px;
	background: white;
}
.subscribe{
	position: absolute;
	height: 56px;
	width: 180px;
	left: 322px;
	top: 8px;
	border-radius: 0px;
	background: #0081FE;
}
.subscribe-text{
	position: absolute;
	height: 24px;
	width: 111px;
	left: 35px;
	top: 19px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: center;
	/* background: #FFFFFF; */
}
.email{
	color:rgba(43.00000123679638, 61.00000016391277, 81.00000277161598, 1);
	opacity:0.5;	
	position: absolute;
	height: 24px;
	width: 130px;
	left: 24px;
	top: 21px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
}
.group{
	position: absolute;
	height: 142px;
	width: 1090px;
	left: 183px;
	top: 357px;
	border-radius: 0px;
}
.socials{
	position: absolute;
	height: 24px;
	width: 165px;
	left: 911px;
	top: 0px;
	border-radius: 0px;
}
.facebook{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 0px;
}
.facebook img{
	height: 24px;
	width: 24px;
}
.twitter{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 42px;
}
.twitter img{
	height: 20px;
	width: 21px;
}
.youtube{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 87px;
}
.youtube img{
	height: 26px;
	width: 24px;
}
.instagram{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 130px;
}
.instagram img{
	height: 24px;
	width: 24px;
}
.links{
	position: absolute;
	height: 18px;
	width: 360px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.team{
	position: absolute;
	height: 24px;
	width: 71px;
	left: 422px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.contact{
	position: absolute;
	height: 24px;
	width: 66px;
	left: 288px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.about-us{
	/* position: absolute; */
	height: 24px;
	width: 71px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.our-products{
	position: absolute;
	height: 24px;
	width: 104px;
	left: 145px;
	top: 0px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.group-line{
	position: absolute;
	height: 1px;
	width: 1073px;
	left: 0px;
	top: 51px;
	border-radius: 0px;
	background: #0A142F;
	border: 1px solid #2B3D51;
}
.terms{
	position: absolute;
	height: 21px;
	width: 130px;
	left: 846px;
	top: 97px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.privacy{
	position: absolute;
	height: 21px;
	width: 110px;
	left: 989px;
	top: 97px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.rights{
	position: absolute;
	height: 21px;
	width: 328px;
	left: 0px;
	top: 95px;
	border-radius: 0px;
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0px;
	text-align: left;
	/* background: #FFFFFF; */
}
.company-logo{
	position: absolute;
	height: 199px;
	width: 282px;
	left: 632px;
	top: 444px;
	border-radius: 0px;
	/*background: url('About us images/rectangle_48.png');*/
}
.company-logo img{
	position: absolute;
	height: 199px;
	width: 282px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	/*background: url('About us images/rectangle_48.png');*/	
}