@charset "UTF-8";

body{
	height: 100%;
}
.layout {
	overflow:hidden;
	background-color: silver;
	width:800px;
	height:1000px;
	position:absolute;
	left: 137px;
}
.email {
	width:600px;
	height:572px;
	position:absolute;
	left:100px;
	top:116px;
	background: rgba(255, 255, 255, 1);
}
.footer {
	width:357px;
	height:172px;
	position:absolute;
	left:209px;
	top:712px;
	background: rgba(255, 255, 255, 1);
}
.address-box { 
	width:357px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.address { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:334px;
	height:54px;
	position:absolute;
	left:10.706185340881348px;
	top:3px;
	font-family:Open Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.socials {
	width:333.6907043457031px;
	height:48px;
	position:absolute;
	left:11.041159629821777px;
	top:60px;
	background: aqua;
}
.address-bar { 
	width:333.6907043457031px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.pintrest { 
	width:58.8865966796875px;
	height:48px;
	position:absolute;
	left:137.4020538330078px;
	top:0px;
	background-image:url(images/pinterest.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.instagram { 
	width:58.88661193847656px;
	height:48px;
	position:absolute;
	left:206.1030731201172px;
	top:0px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.linkedin { 
	width:58.8865966796875px;
	height:48px;
	position:absolute;
	left:274.8041076660156px;
	top:0px;
	background-image:url(images/linkedin.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.facebook { 
	width:58.8865966796875px;
	height:48px;
	position:absolute;
	left:68.7010269165039px;
	top:0px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.twitter { 
	width:58.8865966796875px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.app-store {
	width:341.0515441894531px;
	height:40px;
	position:absolute;
	left:7.360859394073486px;
	top:132px;
	background: blue;
}
.app-store-bar { 
	width:341.0515441894531px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.istore { 
	width:165.61854553222656px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/apple_app_store.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.google-play { 
	width:165.61854553222656px;
	height:40px;
	position:absolute;
	left:175.43299865722656px;
	top:0px;
	background-image:url(images/google_play_store.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.company-logo {
	z-index: 2;
	width:154px;
	height:88px;
	position:absolute;
	left:323px;
	top:10px;
	background-image:url('TheMachine Images/The Machine 2.png');
	background-repeat:no-repeat;
	background-size:cover;
}
