.33_269 { 
	overflow:hidden;
	border:1px solid rgba(255, 255, 255, 1);
}.e33_269 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(images/home.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e33_271 { 
	box-shadow:0px 4px 110px rgba(0, 0, 0, 0.8999999761581421);
	background-color:rgba(255, 255, 255, 0.41999998688697815);
	opacity:0.5;
	width:1290px;
	height:788px;
	position:absolute;
	left:75px;
	top:118px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.33_271 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e34_272 { 
	width:1119px;
	height:102px;
	position:absolute;
	left:144px;
	top:157px;
}.ei34_272_1_5 { 
	color:rgba(255, 255, 255, 1);
	width:97.52754211425781px;
	height:38.10988998413086px;
	position:absolute;
	left:203.2678985595703px;
	top:48.19780349731445px;
	font-family:Poppins;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}.ei34_272_1_131 { 
	color:rgba(255, 255, 255, 1);
	width:105.85134887695312px;
	height:38.10988998413086px;
	position:absolute;
	left:328.64324951171875px;
	top:48.19780349731445px;
	font-family:Poppins;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}.ei34_272_1_133 { 
	color:rgba(255, 255, 255, 1);
	width:142.14324951171875px;
	height:38.10988998413086px;
	position:absolute;
	left:475.8270263671875px;
	top:48.19780349731445px;
	font-family:Poppins;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}.ei34_272_1_134 { 
	color:rgba(11.68750025331974, 10.762239452451468, 10.762239452451468, 1);
	width:102.66064453125px;
	height:38.10988998413086px;
	position:absolute;
	left:659.3026733398438px;
	top:48.19780349731445px;
	font-family:Poppins;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}.ei34_272_31_575 { 
	width:119.96490478515625px;
	height:45.95604705810547px;
	position:absolute;
	left:862.9404907226562px;
	top:42.593406677246094px;
}.ei34_272_30_338 { 
	background-color:rgba(125.58749422430992, 128.93649011850357, 209.31249797344208, 1);
	width:119.96490478515625px;
	height:45.95604705810547px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei34_272_1_135 { 
	color:rgba(255, 255, 255, 1);
	width:106.8594970703125px;
	height:43.71428680419922px;
	position:absolute;
	left:10.08111572265625px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}.ei34_272_31_628 { 
	width:119.96490478515625px;
	height:45.95604705810547px;
	position:absolute;
	left:1013.1486206054688px;
	top:42.593406677246094px;
}.ei34_272_31_475 { 
	background-color:rgba(100.25572791695595, 131.97842448949814, 179.56249594688416, 1);
	width:119.96490478515625px;
	height:45.95604705810547px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei34_272_1_136 { 
	color:rgba(255, 255, 255, 1);
	width:98.553955078125px;
	height:38.109893798828125px;
	position:absolute;
	left:10.08111572265625px;
	top:1.120880126953125px;
	font-family:Poppins;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}.ei34_272_30_257 { 
	background-color:rgba(255, 255, 255, 0.25999999046325684);
	width:177.427001953125px;
	height:38.109893798828125px;
	position:absolute;
	left:655.270263671875px;
	top:50.43955993652344px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.i34_272_30_257 { 
	border:3px solid rgba(255, 255, 255, 1);
}.ei34_272_33_211 { 
	width:31.25140380859375px;
	height:38.109893798828125px;
	position:absolute;
	left:789.3486328125px;
	top:50.43955993652344px;
}.ei34_272_33_211_11_92 { 
	background-color:rgba(255, 255, 255, 1);
	width:22.65658950805664px;
	height:27.628828048706055px;
	position:absolute;
	left:4.45534610748291px;
	top:5.4331536293029785px;
}.ei34_272_34_971 { 
	width:100px;
	height:57.599998474121094px;
	position:absolute;
	left:12px;
	top:31px;
	background-image:url(images/the_machine_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e34_1282 { 
	width:712px;
	height:35px;
	position:absolute;
	left:447px;
	top:858px;
}.ei34_1282_2_144 { 
	color:rgba(255, 255, 255, 1);
	width:712px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}.e34_1284 { 
	width:556px;
	height:402px;
	position:absolute;
	left:156px;
	top:307px;
}.ei34_1284_3_146 { 
	color:rgba(255, 255, 255, 1);
	width:556px;
	height:402px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e34_1287 { 
	width:200.42410278320312px;
	height:46px;
	position:absolute;
	left:156px;
	top:591px;
}.e130_1157 { 
	width:200.42410278320312px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}.e34_1288 { 
	background-color:rgba(125.58749422430992, 128.93649011850357, 209.31249797344208, 1);
	width:200.42410278320312px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e34_1289 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:44px;
	position:absolute;
	left:15px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}