
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('TheMachine Images/analytics.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
}

body::before,
body::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

body::before{
    clip-path: circle(30% at left 20%);
    background: linear-gradient(135deg, #4345ac 20%, #8eb5ee 100% );
}

body::before{
    clip-path: circle(25% at right 80%);
    background: linear-gradient(135deg, #4345ac 20%, #8eb5ee 100% );

}

.glass{
    height: 85vh;
    width: 90%;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
    margin: auto;
    top: 20px;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar{
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;
}

.logo img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: top;
    z-index: 8;
}

.navbar .menu{
    display: flex;
}

.navbar .menu li{
    list-style: none;
    margin: 0 6px;
}

.navbar .menu a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar .menu a:hover{
    color: #f2f2f2;
}

.navbar .buttons input{
    color: #fff;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    padding: 6px 12px;
    margin: 0 8px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #3a3ba2 20%, #4e76b3 100% );

}

.navbar .buttons input:hover{
    transform: scale(0.97);
}

.text-content{
    color: #fff;
    width: 400px;
    margin: 0 0 0 50px;
    top: 50px;
}

.text-content h2{
    font-size: 27px;
    font-weight: 600;
}

.text-content p{
    margin-top: 10px;
    font-size: 15px;
}

.read{
    color: #fff;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    padding: 6px 12px;
    margin: 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #3a3ba2 20%, #4e76b3 100% );
}

.footer{
    color: #fff;
    position: absolute;
    text-align: center;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 30%;

}

@media (max-width:850px) {
    .navbar{
        flex-direction: column;
        align-items: center;
}
.navbar .menu{
    margin: 10px 0 20px 0;
}
.text-content{
    width: 70%;
    margin: 30px 0 0 20px;
}
}

@media (max-width:410px) {
    .glass{
        height: 100vh;
        width: 100%;
        border-radius: 0;
}    
}