*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('TheMachine Images/Background color.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
    padding-top: 30px;
    overflow: hidden;
}

.logo{
    display: grid;
    /* position: absolute; */
    /* width: 100px; */
    /* height: 100px; */
    justify-items: center;
    padding-top: 20px;
}
.logo img{
    width: 100px;
    height: 80px;
    object-fit: contain;
    object-position: top;
    z-index: 8;
}

.glass-2{
    height: 80%;
    width: 30%;
    top: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    margin: auto;
    top: 20px;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.header{
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.mb-3{
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.password{
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.password a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.button{
    display: grid;
    justify-content: center;
    margin: 20px 0px 0 0px;
}

.btn-btn-primary{
    color: #fff;
    width: 250px;
    min-height: calc(1.5em + .75rem + 2px);
    outline: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #3a3ba2 20%, #4e76b3 100% );
    transform: scale(0.97);
}

.checkbox{
    display: grid;
    justify-items: start;
    padding-left: 50px;
}

.signup{
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.signup a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.form-control {
    display: inline;
    width: 250px;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    margin: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.footer{
    color: #fff;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .glass{
        width: 320px;
        height: 628.8px;
    }
    .logo{
        position: absolute;
        left: 102px;
        top: -10px;
        width: 100px;
        height: 80px;
        justify-content: center;
    }
    .glass-2{
        position: absolute;
        top: 84px;
        left: 35px;
        width: fit-content !important;
        height: fit-content !important;
    }
    h2{
        display: block;
        font-size: 1.3em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .form-control{
        width: fit-content;
    }
    .footer{
        position: absolute;
        top: 511px;
        left: 41px;
        font-size: x-small;
    }
}
@media only screen and (min-width: 374px) and (max-width :375px) {
    .glass{
        position: absolute;
        left: 28px;
        top: 0px;
        width: 320px;
        height: 628.8px;
    }
}
@media only screen and (min-width: 376px) and (max-width :425px) {
    .glass{
        position: absolute;
        left: 56px;
        top: 0px;
        width: 320px;
        height: 628.8px;
    }
}
@media only screen and (min-width: 426px) and (max-width : 768px) {
    body{
        padding-top: 0%;
    }
    h2{
        display: block;
        font-size: 1.2em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .glass{
        height: fit-content;
    }
    .logo{
        top: 0px;
        padding-top: 0%;
    }
    .glass-2{
        /* position: absolute; */
        /* top: 0px; */
        width: fit-content;
        height: fit-content;
    }
    .form-control{
        width: fit-content;
    }
    .footer{
        /* position: absolute; */
        /* top: 0px; */
        font-size: x-small;
    }
}
@media only screen and (min-width: 769px) and (max-width : 1200px) {
    body{
        padding-top: 0%;
    }
    .glass{
        height: fit-content;
    }
    .glass-2{
        width: fit-content;
        height: fit-content;
    }
    .form-control{
        width: fit-content;
    }
    .footer{
        font-size: x-small;
    }
}
@media only screen and (min-width: 1200px) and (max-width : 1600px) {
    .glass{
        height: fit-content;
    }
    .glass-2{
        width: fit-content;
        height: fit-content;
    }
    .form-control{
        width: fit-content;
    }
    .footer{
        font-size: x-small;
    }
}