{% load static %}
{% load widget_tweaks%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Artist</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <!--link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap' %}" rel="stylesheet"-->
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'Artist styles.css' %}">
  </head>
    <body>
      <div class="navbar">
        <div class="logo">
          <img src="{% static 'TheMachine Images/The Machine 2.png' %}" alt="">
        </div>
        <span class="HOME">HOME</span>
        <span class="ARTIST">ARTIST</span>
        <span class="ABOUTUS">ABOUT US</span>
        <div class="search-bar">
          <textarea name="" placeholder="Search" id="search-area" cols="16" rows="1"></textarea>
          <div class="search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </div>
        </div>
          <div class="rec">
            <span class="SignIn">SignIN</span>
          </div>
          <div class="rec2">
            <span class="SignUP">SignUp</span>
          </div>
      </div>
      <div class="glass">
        <div class="genre-1"><span class="artist-glass">ARTIST</span></div>
        <div class="artist-cards">
          <div class="artist-card-1"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-2"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-3"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-4"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-5"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-6"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-7"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-8"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-9"><span class="artist-name">Artist-Name</span></div>
        </div>
        <div class="genre-2"><span class="genre-glass">GENRE</span></div>
        <div class="artist-cards-2">
          <div class="artist-card-1"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-2"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-3"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-4"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-5"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-6"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-7"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-8"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-9"><span class="artist-name">Artist-Name</span></div>
        </div>
        <div class="genre-3"><span class="genre-glass">GENRE</span></div>
        <div class="artist-cards-3">
          <div class="artist-card-1"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-2"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-3"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-4"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-5"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-6"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-7"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-8"><span class="artist-name">Artist-Name</span></div>
          <div class="artist-card-9"><span class="artist-name">Artist-Name</span></div>
        </div>
      </div>
      <div class="pagination">
        <div class="left-arrow-chevron">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
        </div>
         <span class="one">1</span>
        <div class="right-arrow-chevron">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
      </div>
      <div class="footer">
        <div class="footer-2"></div>
        <div class="newsletter">
          <div class="newletter2">
            <div class="font-box">
              <span class="newsletter-text">Subscribe Newsletters</span>
              <div class="email-box">
                <div class="subscribe">
                  <span class="subscribe-text">Subscribe Now</span>
                </div>
                <span class="email">Enter your email</span>
              </div>
            </div>
          </div>
        </div>
        <div class="group">
          <div class="socials">
            <div class="facebook">
              <img src="{%static 'Logo images/facebook.png' %}" alt="">
            </div>
            <div class="twitter">
              <img src="{%static 'Logo images/twitter-logo.png' %}" alt="">
            </div>
            <div class="youtube">
              <img src="{%static 'Logo images/youtube.png' %}" alt="">
            </div>
            <div class="instagram">
              <img src="{%static 'Logo images/instagram.png' %}" alt="">
            </div>
          </div>
          <div class="links">
            <span class="team">Team</span>
            <span class="contact">Contact</span>
            <span class="about-us">About Us</span>
            <span class="our-products">Our Products</span>
          </div>
          <div class="group-line"><hr></div>
          <span class="terms">Terms of Service</span>
          <span class="privacy">Privacy Policy</span>
          <span class="rights">&COPY;2021 CVEST MUSIC SOLUTIONS. All rights reserved.</span>
        </div>
        <div class="company-logo">
          <img src="{%static 'TheMachine Images/About us images/rectangle_48.png' %}" alt="">
        </div>
      </div>
    </body>
</html>