<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="results.html" method="GET">
        <div>
            <label for="Artist Name">Artist Name</label>
            <input name="Artist Name" type="text" id="Artist Name" placeholder="Artist Name">
        </div>
       <div>
           <label for="Event">Event</label>
        <select name="Event" id="Event">
           <option value="Festival">Festival</option>
           <option value="Mini Tour">Mini Tour</option>
           <option value="Corp Event">Corp Event</option>
           <option value="Club Performance">Club Performance</option>
           <option value="Paid App">Paid App</option>
        </select>
       </div> 
       <div>
           <label for="Name of Event">Name of Event</label>
           <input name="Name of Event" id="Name of Event" placeholder="Name of Event" type="text">
       </div>
       <div>
           <label for="Date">Date</label>
           <input type="date" name="Date" id="date" placeholder="Date">
       </div>
       <div>
           <label for="Timeslot">Timeslot</label>
           <input type="time" name="time" id="time" min="2021-09-01">
       </div>
       <div>
           <label for="Set">Set</label>
           <input type="text" name="Set" id="Set" placeholder="Set">
       </div>
       <div>
           <label for="Country">Country</label>
           <input type="text" name="Country" id="Country" placeholder="Country">
       </div>
       <div>
           <label for="City">City</label>
           <input type="text" name="City" id="City" placeholder="City">
       </div>
       <div>
           <label for="Venue">Venue</label>
           <input type="text" name="Venue" id="Venue" placeholder="Venue">
       </div>
       <div>
           <label for="Promotor">Promotor</label>
           <input type="text" name="Promotor" id="Promotor" placeholder="Promotor">
       </div>
       <div>
           <label for="Promotor Email">Promoter Email</label>
           <input type="email" name="Promotor Email" id="Promotor Email" placeholder="Promotor Email">
       </div>
        <button>Submit</button>
    </form>
</body>
</html>