{% load static %}
{% load widget_tweaks%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Email</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'email styles.css' %}">
  </head>
  
  <body>
    <div class=layout>
      <div class="email">
        <span>

        </span>
      </div>
      <div class=footer>
        <div class=address-box>
          <span  class="address">
            1126 Riverdene, Fairydene Avenue, Newlands West, Durban
            4037 Don't like these emails? Unsubscribe.
          </span>
        </div>
        <div class="disclaimer">
          <span class="disclaimer-text">&COPY;2022 CVEST MUSIC SOLUTIONS. ALL RIGHTS RESERVED.</span>
        </div>
        <div class=socials>
          <div class=address-bar>
            <div  class="pintrest">
              <img src="{% static 'Logo images/pinterest.png' %}" alt="">
            </div>
            <div  class="instagram">
              <img src="{% static 'Logo images/instagram.png' %}" alt="">
            </div>
            <div  class="linkedin">
              <img src="{% static 'Logo images/linkedin.png' %}" alt="">
            </div>
            <div  class="facebook">
              <img src="{% static 'Logo images/facebook (2).png' %}" alt="">
            </div>
            <div  class="twitter">
              <img src="{% static 'Logo images/twitter-logo.png' %}" alt="">
            </div>
          </div>
        </div>
        <div class=app-store>
          <div class=app-store-bar>
            <span class="coming-soon">Coming soon to.....</span>
            <div  class="istore">
              <img src="{% static 'Logo images/app-store.png' %}" alt="">
            </div>
            <div  class="google-play">
              <img src="{% static 'Logo images/google-play.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div  class="company-logo">
      </div>
    </div>
  </body>
</html>