<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e236_3903><div class=e236_3904><div class=ei236_3904_236_3834><div class=ei236_3904_236_3836><div  class="ei236_3904_236_3835"></div><div class=ei236_3904_236_3837><div  class="ei236_3904_236_3837_236_3839"></div></div></div></div></div><div class=e236_3905><div class=e236_3906><div class=ei236_3906_236_3841><div class=ei236_3906_236_3843><div  class="ei236_3906_236_3842"></div><div class=ei236_3906_236_3844><div  class="ei236_3906_236_3844_236_3846"></div></div></div></div></div></div><div class=e236_3907><div class=e236_3908><span  class="ei236_3908_236_3848">1126 Riverdene, Fairydene Avenue, Newlands West, Durban
4037 
Don't like these emails? Unsubscribe.</span></div><div class=e236_3910><div class=ei236_3910_236_3852><div  class="ei236_3910_236_3853"></div><div  class="ei236_3910_236_3854"></div><div  class="ei236_3910_236_3855"></div><div  class="ei236_3910_236_3856"></div><div  class="ei236_3910_236_3857"></div></div></div><div class=e236_3911><div class=ei236_3911_236_3859><div  class="ei236_3911_236_3860"></div><div  class="ei236_3911_236_3861"></div></div></div></div><div  class="e236_3971"></div></div>
          </body>
          </html>