{% load static %}
{% load widget_tweaks%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>
  <body>
    <div class="glass-2">
      <div class="glass">
          <div id="mynavbar" class="navbar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="logo">
              <img src="{% static 'TheMachine Images/The Machine 2.png' %}" alt="">
            </div>
            <a href="home"><span class="HOME">HOME</span></a>
            <a href="Artist"><span class="ARTIST">ARTIST</span></a>
            <a href="About_us"><span class="ABOUTUS">ABOUT US</span></a>
            <div class="search-bar">
              <form action="{% url 'results' %}">
                {% csrf_token %}
                <input type="text" id="search-area" placeholder="Search Artist" name="searched">
                <div class="search-icon">
                  <a href="results"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></a>
                </div>
              </form>
            </div>
              <div class="rec">
                <a href="Accounts/login"><span class="SignIn">SignIN</span></a>
              </div>
              <div class="rec2">
                <a href="Accounts/register"><span class="SignUP">SignUp</span></a>
              </div>
              <script>
                function openNav() {
                  document.getElementById("mynavbar").style.display = "block";
                }
                function closeNav() {
                  document.getElementById("mynavbar").style.display = "none";
                }
              </script>
        </div>
        <span class="nav-menu" style="font-size: 17px; cursor:pointer" onclick="openNav()">&#9776;OPEN</span>
        <div class="logo-2">
          <img src="{% static 'TheMachine Images/The Machine 2.png' %}" alt="">
        </div>
        <div class="text">
          <span class="machine"><b>THE MACHINE</b></span>
          <br>
          <span class="tool">ARTIST MOST POWERFUL TOOL</span>
          <br>
          <span class="world">In an everchanging industry. The machine is artist's most powerful tool. A data analytics platform for artist.</span>
          <div class="rec3">
            <a href="About_us"><span class="read">READ MORE</span></a>
          </div>
        </div>
        <span class="company">@2022 CVEST MUSIC SOLUTIONS. ALL RIGHTS RESERVED.</span>
      </div>
    </div>
  </body>
</html>