{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'form-style-version10.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <title>Profile#2</title>
</head>
<body>
    <form method="POST" action=""  class="">

        {% csrf_token %}
        <div class="glass">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'TheMachine Images/The Machine 2.png' %}" alt="">
                </div>
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Artist</a></li>
                    <li><a href="#">Analytics</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                        <h2>Register</h2>
                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels">First Name</label></div>
                            {% render_field form.First_Name class="form-control" placeholder="First Name" %}
                            <div class="col-md-12"><label class="labels">Last Name</label></div>
                            {% render_field form.Last_Name class="form-control" placeholder="Last Name" %}
                            <div class="col-md-12"><label class="labels">Username</label></div>
                            {% render_field form.Username class="form-control" placeholder="Username" %}
                            <p>required 150 characters of fewer. Letters, digits and @/./+/-/_only.</p>
                            <div class="col-md-12"><label class="labels">Birth Date*</label></div>
                            {% render_field form.Birth_Date class="form-control" placeholder="Birth Date" %}
                        </div> 
                </div>

                <div class="row">
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email Address</label></div>
                        {% render_field form.Email_Address class="form-control" placeholder="Email Address" %}
                        <div class="col-md-12"><label class="labels">Password*</label></div>
                        {% render_field form.Password class="form-control" placeholder="Password" %}
                        <div class="col-md-12"><label class="labels">Password confirmation</label></div>
                        {% render_field form.Password_confirmation class="form-control" placeholder="Password confirmation" %}
                        <div class="button">
                            <input type="button" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </form>
    
</body>
</html>