{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'form-style-version12.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <title>Profile#2</title>
</head>
<body>
    <form method="POST" action=""  class="">

        {% csrf_token %}
        <div id="mynavbar" class="mynavbar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="logo">
                <img src="{% static 'TheMachine Images/The Machine 2.png' %}" alt="">
              </div>
              <span class="HOME">HOME</span>
              <span class="ARTIST">ARTIST</span>
              <span class="ABOUTUS">ABOUT US</span>
              <div class="search-bar">
                <textarea name="" id="search-area" placeholder="Search" cols="16" rows="1"></textarea>
                <div class="search-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </div>
              </div>
                <div class="rec">
                  <span class="SignIn">SignIN</span>
                </div>
                <div class="rec2">
                  <span class="SignUP">SignUp</span>
                </div>
                <script>
                  function openNav() {
                    document.getElementById("mynavbar").style.display = "block";
                  }
                  function closeNav() {
                    document.getElementById("mynavbar").style.display = "none";
                  }
                </script>
          </div>
          <span class="nav-menu" style="font-size: 17px; cursor:pointer" onclick="openNav()">&#9776;OPEN</span>
        <div class="glass">
            <div class="navbar">
                <div class="logo">
                  <img src="{% static 'TheMachine Images/The Machine 2.png' %}" alt="">
                </div>
                <span class="HOME">HOME</span>
                <span class="ARTIST">ARTIST</span>
                <span class="ABOUTUS">ABOUT US</span>
                <div class="search-bar">
                  <textarea name="" id="search-area" placeholder="Search" cols="16" rows="1"></textarea>
                  <div class="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                  </div>
                </div>
                  <div class="rec">
                    <span class="SignIn">SignIN</span>
                  </div>
                  <div class="rec2">
                    <span class="SignUP">SignUp</span>
                  </div>
            </div>
            <div class="logo-2">
              <img src="{% static 'TheMachine Images/The Machine 2.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                        <h2 class="com">Commercial Profile</h2>
                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels">Spotify</label></div>
                            {% render_field form.Spotify|append_attr:"class:form-control spotify" placeholder="     www.spotify.com" type="text" %}
                            <div class="col-md-12"><label class="labels">Apple Music</label></div>
                            {% render_field form.Apple_music|append_attr:"class:form-control Apple-music" placeholder="     www.music.apple.com" type="text" %}
                            <div class="col-md-12"><label class="labels">Soundcloud</label></div>
                            {% render_field form.Soundcloud|append_attr:"class:form-control soundcloud" placeholder="     www.soundcloud.com" type="text" %}
                            <div class="col-md-12"><label class="labels">Youtube</label></div>
                            {% render_field form.Youtube|append_attr:"class:form-control Youtube" placeholder="     www.youtube.com" type="text" %}
                        </div> 
                </div>

                <div class="row">

                    <h2>Audience Profile</h2>

                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Twitter</label></div>
                        {% render_field form.Twitter|append_attr:"class:form-control twitter" placeholder="     www.twitter.com" type="text" %}
                        <div class="col-md-12"><label class="labels">Instagram</label></div>
                        {% render_field form.Instagram|append_attr:"class:form-control instagram" placeholder="     www.instagram.com" type="text"  %}
                        <div class="col-md-12"><label class="labels">Facebook</label></div>
                        {% render_field form.Facebook|append_attr:"class:form-control facebook" placeholder="     www.facebook.com" type="text"  %}
                        
                        <div class="button">
                            <input type="button" value="Submit">
                        </div>

                        <div class="pages">
                            <a href="#" class="previous">&laquo; Previous</a>
                            <a href="#">1</a>
                            <a href="Profile#2.html" class="next">Next &raquo;</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>  
    </form>
    
</body>
</html>